html {height: 100%;}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.wrapper {
  width: 200px;
  height: 200px;
  perspective: 400px;
}

.cube {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateZ(-100px);
  transform-style: preserve-3d;
  animation: rotation 5s infinite;
}

.cube > div {
  opacity: .5;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 200px;
  font-family: monospace;
  font-size: 2em;
  color: #fff;
}

.cube--front {
  transform: translateZ(100px);
  background: plum;
}
.cube--back {
  transform: rotateY(180deg) translateZ(100px);
  background: lavender;
}
.cube--left {
  transform: rotateY(-90deg) translateZ(100px);
  background: salmon;
}
.cube--right {
  transform: rotateY(90deg) translateZ(100px);
  background: powderblue;
}
.cube--top {
  transform: rotateX(90deg) translateZ(100px);
  background: orange;
}
.cube--btm {
  transform: rotateX(-90deg) translateZ(100px);
  background: moccasin;
}

@keyframes rotation {
  0% {
    transform: translateZ(-100px) rotate3d(0, 0, 0);
  }
  100% {
      transform: translateZ(-100px) rotate3d(1, 0, 1, 360deg);
  }
}